body {
    font-family: Arial, sans-serif;
    background-color: #10105f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
}

h1 {
    color: #333;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="number"]:focus {
    border-color: #3498db;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

.result p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

button:focus {
    outline: none;
}
